<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
</head>
<body>
  <h1>Hellow Writer</h1>
    <div class="dialog-fields">
      <% for line in lines %>
        <input type="text" class="dialog" data-line-id="<%= line.id %>" value="<%= line.text %>">
      <% end %>
        <input type="text" class="dialog">
    </div>


    <button class="new-line">New Line</button>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  <script>
    $(function() {
      $('button.new-line').on('click', function() {
        var $newField = $('<input type="text" name="dialog" class="dialog">');
        $('.dialog-fields').append($newField);
      })

      $('.dialog-fields').on("blur", '.dialog', function(event) {
        console.log('blur!')
        event.preventDefault();
        var $el = $(event.target);

        if ($el.data('line-id')) {
          var lineId = $el.data('line-id');
        } else {
          var lineId = +new Date;
          $el.data('line-id', lineId);
        }

        $.ajax({
          url: '/update',
          method: "POST",
          data: {
            id: lineId,
            text: $el.val()
          }
        });
      });
    });
  </script>
</body>
</html>