<h1><%= scene %></h1>
<a href="/scenes"><-- Back</a>
<div class="row span8 offset4">
  <div class="dialog-lines dialog-fields">
    <% for node in tree %>
      <%== erb :line, locals: {line: node.content} %>
    <% end %>
  </div>
</div>

