<div class="row">
  <div class="span2">
    <h1><%= scene %></h1>
    <a href="/scenes"><-- back</a>
  </div>
</div>
<div class="row">
  <div class="dialog-lines dialog-fields span6 offset2">
    <% tree.each_with_index do |node, index| %>
      <%== erb :line, locals: {line: node.content, index: index} %>
    <% end %>
  </div>
</div>

