/* Colors */
/* Primary Highlight: #a54400 */

body {
  padding-top: 40px;
}

input {
  font-style: Roboto, arial, sans-serif;
}

.navbar {
  background: #a54400;
}

.navbar-brand.logo {
  background: url(/img/campo_p.png) no-repeat;
  background-size: cover;
}

#sidebar .nav .selected {
  background-color: #a54400;
}

#sidebar .nav .selected:hover {
  background-color: #a54410;
}

/* Replace Text */
.replace-text input {
  display: none;
  color: #666;
  font-size: 18px;
  border: 0;
  -webkit-appearance: none;
  margin-left: 13px;
}

.replace-text.editable input {
  display: block;
}

.replace-text.editable .display {
  display: none;
}
/* End Replace Text */


/* Event Responses */
.response-collection {
  padding: 0;
}

.event-response .text {
  font-size: 17px;
  font-family: iABCRegular, Trebuchet, serif;
  line-height: 22px;
}

.event-response {
  max-width: 400px;
  background: #FEFEFA;
  padding: 12px;
  margin: 0 auto;
}

.decorate-event-response {
  float: right;
}

.decorate-event-response:hover {
  color: #a54400;
  cursor: pointer;
}

.pre-response {
  color: #dadada;
  font-size: 13px;
}

.pre-response a, .response a {
  color: #dadada;
  text-decoration: underline;
}

.speech-response {
  padding-top: 8px;
}

.fact-response, .on-finish-event-name {
  color: #dadada;
}

.event-response .character {
  font-family: iABCRegular, Trebuchet, serif;
  font-size: 17px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.event-response .character input {
  text-align: center;
  width: 300px;
}
/* End Event Responses */


/* Event Dividers*/
.event-response-divider {
  padding: 10px;
  margin-top: 0;
}

.event-response-divider:hover {
  cursor: pointer;
}

.event-response-divider hr {
  width: 14%;
  margin: 0px auto -17px auto;
  padding-bottom: 12px;
  border: 0;
  border-top: 1px solid #dadada;
}

.event-response-divider:hover hr{
  visibility: hidden;
}

.event-response-divider .glyphicon {
  text-align: center;
  display: block;
  margin: 0 auto;
  visibility: hidden;
}

.event-response-divider:hover .glyphicon {
  visibility: visible;
}
/* End Dividers */


/*Facts*/
.fact-settings-container {
  background: #FEFEFA;
  font-size: 12px;
  position: fixed;
  top: 50px;
  right: 10px;
}

.fact-settings-container em {
  font-family: Trebuchet;
  font-size: 16px;
  font-weight: normal;
  margin-left: -20px;
}

.fact-settings-container label {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.fact-settings {
  overflow: hidden;
  list-style-type: none;
}
/* End Facts */
