body {
  padding-top: 40px;
}

input {
  font-style: Roboto, arial, sans-serif;
}

.navbar {
  background: #a54400;
}
.navbar-brand.logo {
  background: url(/img/campo_p.png) no-repeat;
  background-size: cover;
}

#sidebar .nav .selected {
  background-color: #a54400;
}

#sidebar .nav .selected:hover {
  background-color: #a54410;
}

.event_response {
  background-color: white;
  margin: 15px auto;
}

.replace-text input {
  display: none;
  color: #666;
  font-size: 18px;
  border: 0;
  -webkit-appearance: none;
  margin-left: 13px;
}

.replace-text.editable input {
  display: block;
}

.replace-text.editable .display {
  display: none;
}

.display.character {
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
  text-align: center
}

.event-response-divider {
  padding: 10px;
  margin-top: 0;
}

.event-response-divider:hover {
  cursor: pointer;
}

.event-response-divider hr {
  width: 14%;
  margin: 0px auto -17px auto;
  padding-bottom: 12px;
  border: 0;
  border-top: 1px solid #dadada;
}

.event-response-divider:hover hr{
  visibility: hidden;
}

.event-response-divider .glyphicon {
  text-align: center;
  display: block;
  margin: 0 auto;
  visibility: hidden;
}

.event-response-divider:hover .glyphicon {
  visibility: visible;
}

.pre-response {
  color: #dadada;
  font-size: 13px;
}

.pre-response a, .response a {
  color: #dadada;
  text-decoration: underline;
}

.response-collection {
  padding: 0;
}

.replace-text.text {
  font-size: 17px;
  font-family: iABCRegular, Georgia, serif;
  line-height: 20px;
  /*padding: 8px;*/
}

.event-response {
  background: #FEFEFA;
  padding: 8px;
  margin: 0 auto;
}

.speech-response {
  padding-top: 8px;
}

.fact-response, .on-finish-event-name {
  color: #dadada;
}

.response .delete {
  color: #dadada;
  cursor: pointer;
}

.response:hover .delete: {
  display: inline;
}

/*Facts*/
.fact-settings {
  overflow: hidden;
  list-style-type: none;
}

.decorate-event-response {
  float: right;
}

.decorate-event-response:hover {
  color: #333;
}
