<div class="event-response-divider">
  <hr class="insert-line"></hr>
  <div class="glyphicon glyphicon-plus-sign" data-event-for-new-response="{{eventForNewResponse}}">
    {{eventForNewResponse}}
  </div>
</div>
