<ul class="fact-settings" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  <li><em>Facts referenced here</em></li>
{{#each .}}
  <li>
    <label class="control checkbox">
      <input type="checkbox" value="{{this}}">
      <span class="control-indicator">{{@key}}</span>
    </label>
  </li>
{{/each}}
</ul>
