<ul class="fact-settings">
  <li><em>Blackboard Facts</em></li>
{{#each .}}
  <li>
    <label class="control checkbox">
      <input type="checkbox" name="{{@key}}" value="{{@key}}" {{# if this}} checked {{/if}}>
      <span class="control-indicator">{{@key}}</span>
    </label>
  </li>
{{/each}}
</ul>
