
<div class="best plugin ever">
  <h3>{{ name }}: <label>Click me</label>

  {{! To include a partial: }}
  {{! just provide the path to the partial without the extension }}

  {{> cool_partial }}

  {{! the path can also be relative to the current template: }}
  {{! ./coolPartial }}
</div>
